<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>EPFL :: professor external activities</title>

<meta http-equiv="X-UA-Compatible" 	content="IE=edge">
<meta name="description" 			content="">
<meta name="viewport" 				content="width=device-width,initial-scale=1">

<link rel="shortcut icon" type="image/x-icon" href="//static.epfl.ch/v0.26.0/favicon.ico" />
<link rel="icon" 		  		type="image/png" 		href="//static.epfl.ch/v0.26.0/favicon.png" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!--
<link rel="stylesheet" href="/extra/bootstrap.min.css">
<link rel="stylesheet" href="/extra/bootstrap-theme.min.css">
-->
<link rel="stylesheet" href="/extra/declprofs.css">

<script type="text/javascript" src="/extra/declprofs.js"></script>

</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a href="http://www.epfl.ch" title="Page d'accueil de l'EPFL"><img src="https://www.epfl.ch/img/epfl_small.png"></a>
		</div>
		<div class="col-md-7">
			<h3>Professor activities engaged outside of EPFL</h3>
		</div>
		<div class="col-md-5">
			<h3>Search : <input name=""></h3>
		</div>

	</div>
	<hr>
</div>

