<TMPL_INCLUDE NAME="profsact_head.tmpl">

<div class="container">

<TMPL_IF NAME=sMsg>
	<div class="row error">
	<p><TMPL_VAR NAME=sMsg></p>
	</div>
<TMPL_ELSE>

</TMPL_IF>

</div>

<TMPL_INCLUDE NAME="profsact_foot.tmpl">

