<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>EPFL :: professor external activities</title>

<meta http-equiv="X-UA-Compatible" 	content="IE=edge">
<meta name="description" 			content="">
<meta name="viewport" 				content="width=device-width,initial-scale=1">

<link rel="shortcut icon" type="image/x-icon" 	href="//static.epfl.ch/v0.26.0/favicon.ico" />
<link rel="icon" 		  type="image/png" 		href="//static.epfl.ch/v0.26.0/favicon.png" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" href="/extra/declprofs.css?ver=<TMPL_VAR NAME=sBuildTimestamp>">

<script type="text/javascript" src="/extra/declprofs.js?ver=<TMPL_VAR NAME=sBuildTimestamp>"></script>

</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a href="http://www.epfl.ch" title="Page d'accueil de l'EPFL"><img src="https://www.epfl.ch/img/epfl_small.png"></a>
		</div>

		<TMPL_IF NAME=isRoot>
			<div class="col-md-12">
				<h3>Professor activities engaged outside of EPFL</h3>
			</div>
			<div class="col-md-6">
				<form name="form" action="<TMPL_VAR NAME=sPathMe>/search" method="POST">
					Search: <input name="search_item"> <span class="btn btn-xs btn-info"  onclick="form.submit();"><span class="glyphicon glyphicon-zoom-in"></span></span>
				</form>
			</div>
			<div class="col-md-6">
					List years : <TMPL_LOOP NAME=yearsLoop><a href="<TMPL_VAR NAME=sPathMe>/list?yeartodo=<TMPL_VAR NAME=year>"> <TMPL_VAR NAME=year></a></TMPL_LOOP>
			</div>
		<TMPL_ELSE>

			<div class="col-md-12">
				<h2>Activities engaged in outside of EPFL</h2>
				<h3>Professors' disclosure of <TMPL_VAR NAME=sYearToDo> outside activities</h3>
				<p>According to the «&#8239;Directive concerning the management of conflicts of interest within the context of activities or public duties engaged in outside the working sphere&#8239;» dated December 1st, 2005 (LEX 4.1.1), professors shall disclose activities at regular intervals, whenever a new activity is taken up or in the event of any change.</p>
                                <p>Activities that have to be included in the disclosure are described at articles 1.a, 7 and 8 of LEX 4.1.1. Data will be filed and treated confidentially, subject to the Freedom of Information Act (FoIA, RS 152.3).</p>
                                <p><a href="#" onclick="showDiv('details');">more...</a>
			</div>

			<div class="col-md-12 ontop edit" id='details'>
			<div class="col-md-12 popup">
				<div class="right_align"> <a href="#" onclick="hideDiv('details');">close</a></div>
				<h3>Professors' annual disclosure - <TMPL_VAR NAME=sYearToDo></h3>
				<p>According to the «&#8239;Directive concerning the management of conflicts of interest within the context of activities or public duties engaged in outside the working sphere&#8239;» dated December 1st, 2005 (LEX 4.1.1), professors shall disclose activities at regular intervals, whenever a new activity is taken up or in the event of any change.</p>
                                <p>Activities that have to be included in the disclosure are described at articles 1.a, 7 and 8 of LEX 4.1.1. Data will be filed and treated confidentially, subject to the Freedom of Information Act (FoIA, RS 152.3).</p>
				<p>At the end of every calendar year, the activities performed during the period from 01.01 to 31.12 have to be validated by editing the annual disclosure (<span class="btn btn-xs btn-info glyphicon glyphicon-pencil"></span> icon under the corresponding year) and then clicking on the “Save and submit” button.</p>
				<p>In case an activity extends beyond the end of a calendar year, please set 31.12 of the current year as the “End date” and copy the activity to the following year with 01.01 as the new “Start date”.</p>
			</div>
			</div>
		</TMPL_IF>
		
	</div>
	<hr>
</div>

